# 要混淆的js文件列表
[JS-FILE]


# 保留的变量名和属性名
[RESERVED]

# 保留的变量名
[RESERVED:VAR]

# 保留的属性名
[RESERVED:PROPERTY]


# 变量名和属性名的黑名单
[BLACK-LIST]

# 属性名的黑名单
[BLACK-LIST:PROPERTY]



# 变量名的黑名单
[BLACK-LIST:VAR]


# 字符串的黑名单
[BLACK-LIST:STRING]



# 变量名和属性名的白名单
[WHITE-LIST]


# 属性名的白名单
[WHITE-LIST:PROPERTY]



# 变量名的白名单
[WHITE-LIST:VAR]



# 保留字 : 发现保留的词,不会混淆,而且也不会把别的词混淆成保留的词
# 白名单 : 发现白名单里的词,不会混淆
# 黑名单 : 发现黑名单里的词,会混淆(黑名单会覆盖白名单)


# TODO : 功能设置
# [JS-WRAPP=true]



